.block{
    height:600px;
    width:auto;
    border:solid aqua 2px;
}
#box1{
    background-color:rebeccapurple;
    width:200px;
    padding: 30px 30px 30px 30px;
}
#box2{
    background-color: yellowgreen;
    width:200px;
    padding: 30px 30px 30px 30px;
}

#box3{
    background-color: palegoldenrod;
    width:200px;
    padding: 30px 30px 30px 30px;
}

header,footer{
    height:100px;
    border:solid rgb(0, 4, 255) 2px;
}
.box{
    display:flex;
    height:350px;
    justify-content: space-evenly;

}